server {
    listen       80;
    listen  [::]:80;
    server_name  {{ server_name }};

    location / {
        proxy_pass {{ proxy_address }};

        {% if config is defined %}
            {%- for line in config %}
                {{ line -}}
            {% endfor %}
        {% endif %}
    }
}