{% if upstream %}
upstream {{ service_name }} {
  server {{ service_name }}:{{ service_port }};
}
{% endif %}

server {
    server_tokens off;

    {% if use_https %}

    listen       443 ssl;
    listen  [::]:443 ssl;

    {% else %}

    listen       80;
    listen  [::]:80;

    {% endif %}

    server_name  {{ service_name }}.*;

    {% if use_https %}

    ssl_certificate /etc/nginx/certificates/fullchain.pem;
    ssl_certificate_key /etc/nginx/certificates/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDHE-RSA-CHACHA20-POLY1305:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-CCM:DHE-RSA-AES256-CCM8:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-CCM:DHE-RSA-AES128-CCM8:DHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256;

    ssl_prefer_server_ciphers on;

    ssl_session_tickets off;
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:10m;

    ssl_buffer_size 8k;

    ssl_stapling on;
    ssl_stapling_verify on;

    add_header X-Content-Type-Options nosniff;
    add_header Content-Security-Policy "object-src 'none'; base-uri 'none'; require-trusted-types-for 'script'; frame-ancestors 'self';";
    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload";

    {% endif %}


    location / {
        proxy_pass {{ proxy_address }};

        {% if config is defined %}
            {%- for line in config %}
                {{ line -}}
            {% endfor %}
        {% endif %}
    }
}

